body {
    background-image: url("images.jpeg");
    background-repeat: no-repeat;
    background-size: 1000px 500px;
}



label {
    display: block;
    padding:5px;
    
}
form {
    text-align: center;
    
    margin:0px 350px 0px 350px;
    border :2px solid black;
   
    
}
h1 {
    text-align: center;
}
#submit {
     padding :10px;
}
input[type=submit] {
           background-color: orange;
            
}
input[type=submit]:hover {
    background-color:green ;
}
input {
    border :2px solid black;
    border-radius: 3px;
}
select {
    border :2px solid black;
}